* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dt, dd, ul, ol {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: top;
}
body {
	overflow-x: hidden;
}
.title {
	text-align: center;
}
section {
	padding: 100px 0 100px;
}
section.active h3 {
	opacity: 1;
	transform: translateY(0);
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	color: #fff;
	opacity: 0;
	transition: all 0.4s;
	transform: translateY(100px);
}
p {
	font-size: 0.875rem;
	font-weight: 600;
	font-style: italic;
	color: #888;
	margin-bottom: 0;
}
.desc dt {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 1rem;
	color: #000;
}
.desc dd {
	font-family: 'Merriweather', serif;
	font-size: 0.75rem;
	color: #888;
	margin-top: 10px;
}
/**/
#header {
	position: relative;
	height: 700px;
	padding: 0;
}
#header .menu {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	height: 77px;
	z-index: 10000;
	opacity: 0;
	transform: translateY(-100px);
	transition: all 0.6s;
}
#header.active .menu {
	opacity: 1;
	transform: translateY(0);
}
#header .menu .logo {
	float: left;
	width: 75px;
	height: 77px;
}
#header .menu .gnb {
	float: right;
	height: 70px;
}
#header .menu .gnb li,
#header .fixed_gnb li {
	display: inline-block;
}
#header .menu .gnb li a,
#header .fixed_gnb li a {
	display: block;
	padding: 15px 0;
	margin: 10px 16px;
	color: #fff;
	font-size: 0.875em;
}
#header .fixed_gnb {
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 1000px;
	padding-right: 100px;
	text-align: right;
}
#header .fixed_gnb {
	position: fixed;
	top: -70px;
	right: 0;
	width: 100%;
	height: 70px;
	transition: top 0.4s;
	background-color: rgba(0,0,0,0.5);
	text-align: right;
	z-index: 10000;
}
#header .fixed_gnb.show {
	top: 0;
}
#header .fixed_gnb li.on a {
	color: #fed136;
}
/**/
#header .keyvisual {
	height: 700px;
	background-color: #f6ddb5;
}
#header .keyvisual ul {
	position: relative;
	min-width: 1000px;
	width: 100%;
	height: 700px;
	overflow: hidden;
}
#header .keyvisual .keyimage {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 1000px;
	height: 700px;
	z-index: 500;
	opacity: 0;
	transition: opacity 0.6s;
	transition-delay: 500ms;
}
#header.active .keyvisual .keyimage {
	opacity: 1;
}
#header .keyvisual .keytext {
	position: absolute;
	right: 200px;
	top: 0;
	width: 800px;
	height: 700px;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.6s;
	transition-delay: 800ms;
}
#header.active .keyvisual .keytext {
	opacity: 1;
}

/* #header Media Queries */
@media only screen and (max-width: 1020px){
	#header {
		width: 100%;
	}
	#header .menu {
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	#header .keyvisual .keytext {
		right: 100px;
	}
}
@media only screen and (max-width: 720px){
	#header .menu .logo {
		float: none;
		margin: 0 auto;
	}
	#GNB {
		display: none;
	}
	#header .tab {
		display: block;
	}
}
/**/
#membership {
	padding: 100px 0 100px;
}
#membership .title h3 {
	font-size: 1.75rem;
	font-weight: 800;
	color: #000;
}
#membership .title p {
	font-size: 0.75rem;
	color: #888;
}
#membership .content {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 1000px;
}
#membership .content::before {
	content: "";
	display: block;
}
#membership .content::after {
	content: "";
	display: block;
	clear: left;
}
#membership .content li {
	position: relative;
	float: left;
	margin-left: 40px;
	width: calc((100% - 80px)/3);
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}
#membership.active .content li {
	opacity: 1;
}
#membership .content li:nth-child(1){
	margin-left: 0;
	transition-delay: 400ms;
}
#membership .content li:nth-child(2) {
	transition-delay: 800ms;
}
#membership .content li:nth-child(3) {
	transition-delay: 1200ms;
}
#membership .content li .photo {
	border-bottom: 10px solid #fed136;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 10000;
}
#membership .content li .photo img {
	width: 100%;
	z-index: 100;
	transition: transform 0.5s;
}
#membership .content li .photo:hover img {
	transform: translateX(50px) translateY(55px);
}
#membership .content .desc {
	text-align: center;
	padding: 1.375em 0;
}
#membership .content .desc dt {
	/* font-size: 1em; */
	font-weight: bold;
}
#membership .content .desc dd {
	margin-top: 20px;
	font-size: 0.75em;
	color: #888;
}
/* #membership Media Query*/
@media only screen and (max-width: 1000px){
	#membership .content {
		padding: 0 20px;
	}
	#membership .content li {
		margin-left: 20px;
		width: calc((100% - 40px)/3);
	}
	#membership .content li a .photo img {
		width: 100%;
	}
}
@media only screen and (max-width: 720px){
	#membership .content li {
		margin-left: 20px;
		width: calc((100% - 40px)/3);
	}
	#membership .content li .photo {
		border-bottom: 5px solid #fed136;
	}
	#membership .content li .photo img {
		width: 100%;
	}
	#membership .content li .photo:hover img {
		transform: translateX(30px) translateY(35px);
	}
}
@media only screen and (max-width: 460px){
	#membership .content li:nth-child(1) {
		margin: 0 auto;
	}
	#membership .content li {
		float: none;
		margin: 10px auto;
		width: 60%;
	}
	#membership .content .photo {
		width: 100%;
	}
}
@media only screen and (max-width: 360px){
	#membership .content li {
		float: none;
		margin: 10px auto;
		width: 80%;
	}
}
#film_video {
	padding: 100px 0 120px;
	background-color: rgba(0,0,0,0.9);
}
#film_video .content {
	margin: 0 auto;
	margin-top: 75px;
	max-width: 1000px;
}
#film_video .content::before,
#film_video .content::after {
	content: "";
	display: block;
}
#film_video .content::after {
	clear: left;
}
#film_video .content li {
	float: left;
	margin-left: 65px;
	margin-bottom: 45px;
	width: calc((100% - 130px)/3);
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
	opacity: 0;
	transition: opacity 0.3s;
}
#film_video.active .content li {
	opacity: 1;
}
#film_video .content li:nth-child(3n+1) {
	margin-left: 0;
	transition-delay: 400ms;
}
#film_video .content li:nth-child(2),
#film_video .content li:nth-child(5) {
	transition-delay: 800ms;
}
#film_video .content li:nth-child(3n) {
	transition-delay: 1200ms;
}
#film_video .content li:nth-child(4) .desc dt {
	font-size: 0.875em;
}
#film_video .content li .photo {
	overflow: hidden;
}
#film_video .content li .photo img {
	width: 100%;
	transition: 0.3s;
}
#film_video .content li .photo:hover img {
	transform: scale(1.1);
}
#film_video .content li .desc {
	padding: 40px 10px 0;
	height: 160px;
	text-align: center;
}
#film_video .content li .desc dt {
	color: #fff;
}
#film_video .content li .desc dd {
	font-size: 0.875em;
	color: #888;
}
/* #film_video Media Query*/
@media only screen and (max-width: 1000px){
	#film_video .content {
		padding: 0 20px;
	}
	#film_video .content li {
		margin-left: 15px;
		width: calc((100% - 30px)/3);
	}
}
@media only screen and (max-width: 720px){
	#film_video .content li {
		margin-left: 20px;
		width: calc((100% - 20px)/2);
	}
	#film_video .content li:nth-child(3n+1) {
		margin-left: 20px;
	}
	#film_video .content li:nth-child(2n+1) {
		margin-left: 0;
	}
}
@media only screen and (max-width: 460px){
	#film_video .content li:nth-child(n+1) {
		float: none;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 3em;
	}
	#film_video .content li:nth-child(4) .desc {
		padding-top: 30px;
	}
}
@media only screen and (max-width: 360px){
	#film_video .content li .desc {
		height: 140px;
	}
	#film_video .content li .desc dt {
		font-size: 0.875em;
	}
	#film_video .content li .desc dd {
		font-size: 0.75em;
	}
}
/**/
#exhibition {
	padding: 115px 0 115px;
	background-color: rgba(0,0,0,0.9);
}
#exhibition .exhibit_list {
	margin: 0 auto;
	margin-top: 60px;
}
#exhibition .exhibit_list li {
	position: relative;
	margin: 0 auto;
	margin-bottom: 100px;
	width: 350px;
	opacity: 0;
	transition: opacity 0.3s;
}
#exhibition.active .exhibit_list li {
	opacity: 1;
}
#exhibition.active .exhibit_list li:nth-child(1) {
	transition-delay: 400ms;
}
#exhibition.active .exhibit_list li:nth-child(2) {
	transition-delay: 800ms;
}
#exhibition.active .exhibit_list li:nth-child(3) {
	transition-delay: 1200ms;
}
#exhibition.active .exhibit_list li:nth-child(4) {
	transition-delay: 1600ms;
}
#exhibition.active .exhibit_list li:nth-child(5) {
	transition-delay: 2000ms;
}
#exhibition .exhibit_list li .photo {
	overflow: hidden;
	border-radius: 50%;
	border: 7px solid #f1f1f1;
}
#exhibition .exhibit_list li .photo img {
	width: 100%;
	transition: transform 0.3s;
}
#exhibition .exhibit_list li .photo:hover img {
	transform: scale(1.1);
}
#exhibition .exhibit_list li .desc {
	position: absolute;
	top: 30%;
	width: 350px;
	line-height: 1.5;
	text-align: center;
}
#exhibition .exhibit_list li:nth-child(odd) .desc {
	left: -380px;
	text-align: right;
}
#exhibition .exhibit_list li:nth-child(even) .desc {
	left: 380px;
	text-align: left;
}
#exhibition .exhibit_list .desc dt {
	font-size: 1.125em;
	font-weight: bold;
	color: #fff;
}
#exhibition .exhibit_list .desc dd {
	margin-top: 10px;
	font-size: 0.875em;
	color: #fff;
}
/* #exhibition Media Query*/
@media only screen and (max-width: 1130px) {
	#exhibition .exhibit_list {
		padding: 0 20px;
	}
	#exhibition .exhibit_list li {
		width: auto;
	}
	#exhibition .exhibit_list li .photo {
		width: 35%
	}
	#exhibition .exhibit_list li:nth-child(odd) .desc,
	#exhibition .exhibit_list li:nth-child(even) .desc {
		left: 40%;
		right: auto;
		width: 60%;
		text-align: left;
	}
	#exhibition .exhibit_list li .desc dd br {
		display: none;
	}
}
@media only screen and (max-width: 720px){
	#exhibition .exhibit_list li .desc {
		top: 10%;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 90%;
	}
	#exhibition .exhibit_list li .desc dd {
		font-size: 0.75em;
	}
}
@media only screen and (max-width: 460px){
	#exhibition .exhibit_list li .desc dt {
		font-size: 0.875em;
	}
}
@media only screen and (max-width: 360px){
	#exhibition .exhibit_list li {
		margin: 0 auto;
		margin-top: 120px;
		width: 100%;
	}
	#exhibition .exhibit_list li .photo {
		margin: 0 auto;
		width: 80%;
	}
	#exhibition .exhibit_list li:nth-child(odd) .desc,
	#exhibition .exhibit_list li:nth-child(even) .desc {
		left: 50%;
		margin-left: -40%;
		top: 105%;
		width: 80%;
		text-align: center;
	}
	#exhibition .exhibit_list li .desc dd {
		display: none;
	}
}
/**/
#collection{
	padding: 115px 0 0;
	background-color: rgba(0,0,0,0.9);
}
#collection .collec_inner {
	margin: 0 auto;
	margin-top: 80px;
	max-width: 1000px;
}
#collection .collec_inner::after,
#collection .collec_inner::before {
	content: "";
	display: block;
}
#collection .collec_inner::after {
	clear: left;
}
#collection .collec_inner li {
	float: left;
	margin-left: 60px;
	width: 290px;
	background-color: #fff;
	opacity: 0;
	transition: opacity 0.3s;
}
#collection.active .collec_inner li {
	opacity: 1;
}
#collection .collec_inner li:first-child {
	margin-left: 0;
	transition-delay: 400ms;
}
#collection .collec_inner li:nth-child(2) {
	transition-delay: 800ms;
}
#collection .collec_inner li:nth-child(3) {
	transition-delay: 1200ms;
}
#collection .collec_inner li .photo {
	overflow: hidden;
}
#collection .collec_inner li .photo:hover img {
	transform: scale(1.1);
}
#collection .collec_inner li .photo img {
	width: 100%;
	transition: transform 0.3s;
}
#collection .collec_inner li .desc {
	height: 100px;
	padding: 0 30px 10px;
	text-align: left;
	background-color: #fff;
}
#collection .collec_inner li .desc dt {
	line-height: 1.7em;
}
#collection .collec_inner li .desc dt {
	font-size: 0.938em;
}
#collection .collec_inner li .desc dt:nth-child(2) {
	font-size: 1.125em;
}
#collection p.text_zone {
	text-align: center;
	margin: 50px 0;
	font-weight: bold;
	font-size: 0.875em;
	line-height: 1.8;
}
#collection .banner {
	padding: 100px 0;
	background-color: #fff;
}
#collection .banner .content {
	margin: 0 auto;
	max-width: 1000px; /**/
	height: 63px;
	text-align: center;
}
#collection .banner .content li {
	float: left;
	width: 220px;
	margin-left: 40px;
}
#collection .banner .content li:nth-child(1) {
	margin-left: 0;
}
#collection .banner .content li img {
	width: 100%;
}
/* #collection Media Query*/
@media only screen and (max-width: 1010px){
	#collection .collec_inner {
		/* padding: 0 40px; */
		margin-left: 10%;
		margin-right: 10%;
	}
	#collection .collec_inner li {
		width: calc((100% - 100px)/3);
		margin-left: 50px;
	}
}
@media only screen and (max-width: 720px){
	#collection .collec_inner li {
		display: block;
		width: 70%;
	}
	#collection .collec_inner li:nth-child(2){
		float: right;
		margin-left: 50%;
		margin-top: 70px;
	}
	#collection .collec_inner li:nth-child(3){
		float: left;
		margin-left: 0;
		margin-top: 70px;
	}
}
@media only screen and (max-width: 460px){
	#collection .collec_inner li .desc {
		height: 80px;
		padding: 0 20px 10px;
	}
	#collection .collec_inner li .desc dt {
		font-size: 0.75em;
	}
	#collection .collec_inner li .desc dt:nth-child(2) {
		font-size: 0.813em;
	}
}
@media only screen and (max-width: 360px){
}
/**/

/* #banner Media Query*/
@media only screen and (max-width: 1020px){
	#banner .content {
		padding: 0 40px;
	}
	#banner .content li {
		width: calc((100% - 90px)/4);
		margin-left: 30px;
	}
}
@media only screen and (max-width: 720px){
	#banner {
		padding: 50px 0;
	}
	#banner .content li {
		width: calc((100% - 60px)/4);
		margin-left: 20px;
	}
}
@media only screen and (max-width: 460px){
	#banner .content li {
		width: calc((100% - 20px)/2);
		margin-bottom: 20px;
	}
	#banner .content li:nth-child(2n+1) {
		margin-left: 0;
	}
}
/**/
#contact {
	padding: 107px 0 115px;
	background: url(../images/bg_02.jpg) no-repeat center center;
	background-size: cover;
}
#contact .title p {
	color: #000;
	font-size: 1.125em;
}
#contact .input_area {
	margin: 0 auto;
	max-width: 1000px;
	margin-top: 75px;
}
#contact .input_area::after {
	clear: left;
}
#contact .input_area .text_wrap {
	float: left;
	width: 456px;
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: opacity 400ms;
}
#contact.active .input_area .text_wrap {
	opacity: 1;
}
 input[type=text] {
	padding: 0 20px;
	vertical-align: center;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: bold;
	color: #333;
	background-color: #fff;
	border: none;
	border-radius: 3px;
	cursor: text;
}
#contact .input_area .text_wrap input.name,
#contact .input_area .text_wrap input.email,
#contact .input_area .text_wrap input.subject {
	display: block;
	width: 100%;
	height: 52px;
	margin-bottom: 28px;
}
#contact .input_area textarea {
	float: right;
	width: 456px;
	height: 210px;
	padding: 20px 20px;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #333;
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: opacity 800ms;
}
#contact.active .input_area textarea {
	opacity: 1;
}
#contact .input_area input.submit {
	display: block;
	clear: both;
	margin: 0 auto;
	padding: 24px 48px;
	transition: background-color 0.5s;
	transition-delay: opacity 1200ms;
	opacity: 0;
}
#contact.active .input_area input.submit {
	opacity: 1;
}
#contact .input_area input.submit:hover,
#contact .input_area input.submit:focus {
	background-color: #f90;
}
input[type=submit] {
	text-align: center;
	background-color: #fed136;
	color: #fff;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
/* #contact Media Query*/
@media only screen and (max-width: 1000px){
	#contact .input_area {
		padding: 0 40px;
	}
	#contact .input_area .text_wrap {
		width: 48%;
	}
	#contact .input_area textarea {
		width: 48%;
	}
}
@media only screen and (max-width: 720px){
	#contact .input_area .text_wrap {
		width: 100%;
	}
	#contact .input_area textarea {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	#contact .input_area input.submit {
		padding: 20px 25px;
	}
}
/**/
#footer {
	padding: 40px 0;
}
#footer .foot_inner {
	max-width: 1000px;
	margin: 0 auto;
}
#footer .foot_inner .foot_logo {
	float: left;
	width: 214px;
	height: 63px;
}
#footer .foot_inner .icon_area {
	float: left;
	text-align: center;
	width: 205px;
	margin-left: 190px;
	margin-top: 15px;
}
#footer .foot_inner .icon_area a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 3px;
	color: #fff;
	overflow: hidden;
	border-radius: 20px;
	background-color: #222;
	transition: background-color 0.3s;
	outline: none;
}
#footer .icon_area a:hover,
#footer .icon_area a:focus {
	background-color: #09f;
}
#footer .foot_inner p.copyright {
	float: right;
	font-size: 0.875em;
	font-weight: bold;
	color: #333;
	margin: 30px 0;
}
/* #footer Media Query*/
@media only screen and (max-width: 1020px) {
	#footer .foot_inner p.copyright {
		display: block;
		width: 100%;
	}
}
@media only screen and (max-width: 640px) {
	#footer .foot_inner .foot_logo {
		display: none;
	}
	#footer .foot_inner .icon_area {
		display: block;
		margin: 0 auto;
		float: none;
	}
	#footer .foot_inner p.copyright {
		display: none;
	}
}
/**/
.navi {
	position: fixed;
	right: 10px;
	top: 50%;
	margin-top: -150px;
	padding: 20px 0;
	width: 60px;
	text-align: center;
	z-index: 10000;
}
.navi li {
	margin-top: 20px;
}
.navi li.on a {
	height: 40px;
	background-color: #fed136;
}
.navi a {
	display: inline-block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	transition: background-color 0.3s, height 0.8s;
}
